.card {
  margin: 2rem;
  flex-basis: 100%;
  padding: 1rem;
  color: inherit;
  border-radius: 3px;
}

.cardContent {
  text-decoration: none;
  max-width: 650px;
  margin: auto;
}

.cardContent h3 {
  margin: 0 0 1rem 0;
  font-size: 1.75rem;
  font-family: consolas;
  overflow-wrap: break-word;
}

.cardContent h3:hover,
.cardContent h3:focus,
.card h3:active {
  text-decoration: underline;
}

.cardContent a {
  color: inherit;
  text-decoration: none;
}

.cardContent p {
  margin: 0;
  max-height: 3.5rem;
  overflow: hidden;
  text-align: justify;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}
