.card {
  margin: 1rem;
  flex-basis: 100%;
  padding: 1rem;
  color: inherit;
  border-radius: 3px;
}

.cardContent {
  text-decoration: none;
  max-width: 500px;
  margin: auto;
}

.cardContent h3 {
  margin: 0 0 1rem 0;
  font-size: 1.75rem;
  font-family: consolas;
  overflow-wrap: break-word;
}

.cardContent h3:hover,
.cardContent h3:focus,
.card h3:active {
  text-decoration: underline;
}

.cardContent a {
  color: inherit;
  text-decoration: none;
}

.cardContent p {
  margin: 0;
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
  max-height: 3.5rem;
  overflow: hidden;
  text-align: justify;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;

  /* @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  } */
}
